<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodawanie posta</title>
</head>
<body>
    <main>
        <h1>Dodaj nowego posta</h1>

        <form action="addpost" method="POST">

            <div>
                <label for="title">Tytuł posta</label><br>
                <input name="title" id="title" type="text" placeholder="Temat" required>
            </div>

            <br>

            <div>
                <label for="description">Treść</label><br>
                <textarea name="description" id="content" rows="10" placeholder="Treść Twojego posta" required></textarea>
            </div>

            <br>

            <button type="submit">Opublikuj</button>
        </form>
    </main>
    
</body>
</html>
