<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>

    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/details.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>
<body>

    <div class="base-container">

        <nav>
            <div class="home-icon">
                <a href="/dashboard">
                    <img src="/public/img/home.svg" alt="Home">
                </a>
            </div>
        </nav>
        
        <main>
            <header>
                <h1>Najbardziej niebezpieczne miejsca w Krk</h1>
            </header>
            <div class="post-content">
                <p>Kraków to jedno z najpiękniejszych miast w Polsce, 
                ale jak każde duże miasto, ma swoje mniej bezpieczne rejony.
                Szczególną ostrożność warto zachować w okolicach Dworca Głównego i Plant, gdzie często dochodzi do kradzieży kieszonkowych, zwłaszcza w tłumie podróżnych. 
                W nocy okolice te mogą być niebezpieczne ze względu na obecność agresywnych osób pod wpływem alkoholu lub narkotyków. 
                Podobnie wygląda sytuacja w przejściach podziemnych przy Alejach Trzech Wieszczów, które bywają miejscem zaczepiania przechodniów, a nawet drobnych napaści.
                Kolejnym miejscem, które budzi niepokój, jest ulica Wielopole i okolice Rynku Głównego po zmroku. 
                To popularne miejsce spotkań, pełne klubów i barów, co sprawia, że często dochodzi tu do bójek i aktów agresji, zwłaszcza w weekendy. 
                Należy uważać również w rejonie Nowej Huty, szczególnie na osiedlach o złej sławie, kojarzonych z działalnością grup pseudokibicowskich. 
                Choć statystyki wskazują, że Nowa Huta staje się coraz bezpieczniejsza i zrywa z dawnymi stereotypami, zapuszczanie się w głąb ciemnych podwórek czy między bloki po zmroku – szczególnie dla osób nieznających topografii dzielnicy – może być ryzykowne.
                Warto również wspomnieć o Kazimierzu. Choć to jedna z najmodniejszych dzielnic, tłumy turystów w wąskich uliczkach (szczególnie w okolicach Placu Nowego i ulicy Szerokiej) przyciągają kieszonkowców. 
                W weekendowe noce, podobnie jak na Rynku, wysokie stężenie osób pod wpływem alkoholu sprzyja głośnym awanturom i incydentom.
                Ostrożność należy zachować także w komunikacji miejskiej, zwłaszcza w autobusach i tramwajach nocnych. 
                Zdarzają się tam kradzieże telefonów czy portfeli „na śpiocha”, gdy pasażerowie wracający z imprez tracą czujność. 
                Mimo tych zagrożeń, Kraków pozostaje miastem przyjaznym dla turystów, a zachowanie podstawowych zasad bezpieczeństwa i zdrowego rozsądku zazwyczaj wystarcza, by uniknąć nieprzyjemności.</p>
            </div>
        </main>
    </div>
    <section class="bottom-bar">
        <div class="base-container">
            <div class="stats-container">

                <div class="stat-box">
                    <div class="stat-icon">
                        <img src="/public/img/image1.jpg" alt="Profile image">
                    </div>
                    <div class="stat-bar color-green">
                        <span>Autor: Anna</span>
                    </div>
                </div>

                <div class="stat-box">
                    <div class="stat-icon">
                        <img src="/public/img/share.svg" alt="Share">
                    </div>
                    <div class="stat-bar color-blue center-text">
                        <span>77</span>
                    </div>
                </div>                

                <div class="stat-box reverse">
                    <div class="stat-bar color-dark center-text">
                        <span>77</span>
                    </div>
                    <div class="stat-icon icon-right">
                        <img src="/public/img/like.svg" alt="Like">                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>