body {
    margin: 3rem;
    background-color: #D8D5DB;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    gap: 0.5rem;
    margin-right: 2rem;
}

.user-icon img, .add-icon img {
    width: 3rem;
    height: 3rem;
}

.search-container {
    display: flex;
    border: 0.05rem solid #000;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 2.2rem;
}

.search-container input {
    border: none;
    background: none;
    height: 1rem;
    font-family: 'Inter', 'sans-serif';
    font-weight: 300;
    font-size: 0.8rem;
    color: #58BFF8;
    width: 90%;
}


.search-container input:focus {
    outline: none;
    box-shadow: none;
}

/* Posty */

.card-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(20rem, 35rem));
    gap: 2rem;
    column-gap: 5rem;
    margin: 3rem;
}

.card {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
}

.card-text {
    margin: 1rem 0;
}

.card-text h3,
.card-text p {
    margin: 0.2rem 0;
    font-family: 'Inter', 'sans-serif';
    font-weight: 300;
}

.card-text p:last-child {
    color: #B3B3B3;
}

.card-text h3 {
    font-weight: 600;
}

.card img {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 50%;
    object-fit: cover;
}